/* styles.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* Your other styles */
@import 'normalize.css';

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  font-family: basic-sans, sans-serif;
  font-weight: 600;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body,
div,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
}

/* <----------HOME STYLES----------> */

.banner-main-aoki {
  width: 100vw;
  height: 100vh;
  background: #f4f9fc; /* Old browsers */
  
  // background: -moz-linear-gradient(to bottom right, #f2f2f2, #73aed9);

  // background: -webkit-linear-gradient(to bottom right, #f2f2f2, #73aed9);

  // background: linear-gradient(to bottom right, #f2f2f2, #73aed9);

  // background: -moz-linear-gradient(
  //   left,
  //   #73aed9 0%,
  //   #0881a3 100%
  // ); /* FF3.6-15 */
  // background: -webkit-linear-gradient(
  //   left,
  //   #73aed9 0%,
  //   #0881a3 100%
  // ); /* Chrome10-25,Safari5.1-6 */
  // background: linear-gradient(
  //   to right,
  //   #73aed9 0%,
  //   #0881a3 100%
  // ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f0c29', endColorstr='#302b63', GradientType=1); /* IE6-9 */
}

.main-title {
  font-weight: bold;
  font-size: 10vw;
}

.gradient-text {
  font-weight: bolder;
  background: #0881a3;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.text-container-banner {
  padding-top: 10vh;
  padding-bottom: 0;
  @media screen and (max-width : 700px) {
    padding: 0 !important;
  }
}

.animation-container-banner {
  padding-top: 0;
}

.banner-container {
  height: 130vh;
  width: 100vw;
  @media screen and (max-width: 700px) {
    height: 100vh;
    overflow: hidden;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.second-title-compu {
  width: 100%;
  @media screen and (max-width: 700px) {
    display: none;
  }
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.btn-bg-color {
  background-color: #fe9c00;
}

/* <----------CLIENTS STYLES----------> */
body,
html {
  height: 100%;
  background-color: white;
}

.container {
  overflow: hidden;

  .slider {
    animation: slidein 30s linear infinite;
    white-space: nowrap;

    .logos {
      width: 100%;
      display: flex;
      flex-direction: row;
      margin: 0;

      .icon {
        width: calc(100% / 5);
        animation: fade-in 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
      }
    }
  }
}

@keyframes slidein {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bg-pros {
  background-color: #0881a3;

}

.btn-call-to-action {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  padding: 0.8em 1.3em 0.8em 0.9em;
  color: #fff;
  background: #fe9c00;
  border: none;
  letter-spacing: 0.05em;
  border-radius: 16px;
  font-family: basic-sans, sans-serif;
  font-weight: bold;
  border-radius: 16px;
}

button {
  padding: 1em;
  border: none;
  letter-spacing: 0.05em;
  border-radius: 16px;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn-cta {
  font-family: basic-sans, sans-serif;
  font-weight: bold;
  justify-content: center;
  display: flex;
  width: max-content;
  padding: 1em;
}


.icon {
  width: 24px; // ajusta el ancho según sea necesario
  height: 24px; // ajusta la altura según sea necesario
}

.container-items-pros {
  @media screen and (max-width: 700px) {
    width: 100%;
    padding: 0 2rem;
  }
}

.items-banner {
  display: flex;
  justify-content: space-evenly;
  gap: 3em;
  padding-bottom: 3rem;
  width: 100vw;
  @media screen and (max-width: 700px) {
    display: none;
  }
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --backgroundColor: #FEF852;
  --backgroundColorSecondary: #FFFC94;
  --textPrimaryColor: #2A2A2A;

  --headlineBig: clamp(3rem, 10vw, 15rem);
  --headlineSmall: clamp(1rem, 1.2vw, 6rem);
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--backgroundColor);
}


.reveal {
    background: var(--backgroundColor);
    padding-left: 30%;
    padding-right: 10%;
  }
  
  .reveal-text {
    font-weight: 800;
    font-size: var(--headlineBig);
    line-height: var(--headlineBig);
    color: var(--backgroundColor);
    filter: drop-shadow(0 0 0.06rem rgb(2, 2, 2));
  }
  
  .spacing-small {
    height: 50vh;
  }
  
  .spacing {
    height: 100vh;
  }
  
  @media screen and (max-width: 500px) {
    .reveal {
      padding-left: 10px;
    }
  }
  .navbar-bg{
    background-color: #0881a3;
  }

  .li-item-text:hover{
    color: #fe9c00;
  }

  .btn-nav-bar {
    padding: 0.1vw 0 !important
  }

  .bg-line-video{
    background-color: #fe9c00;

  }

  .active-dropdown {
    color: #fe9c00 !important;
  }

  .btn-section-cta{
    width: 40vw !important;
    font-size: 1.5rem;
    @media screen and (max-width: 700px) {
      width: 80vw !important;
      font-size: 0.8rem;
    }
  }

  .btn-nav-bar-login {
    padding-left: .5rem !important;
    padding-right: .5rem !important;
    background-color: #73aed9;
  }

  .btn-nav-bar-register{
    padding: .5rem 0 !important;
  }
  .btn-bg-color-login{
    background-color: #73aed9;

  }

  .video-banner{
    @media screen and (min-width: 700px) {
      display: none;
    }
    padding: .5rem;
  }

  .arrows-container{
    @media screen and (max-width: 700px) {
      display: none;
    }
  }

  .big-screen {
    @media screen and (max-width: 700px) {
      display: none;
    }
  }
  
  .small-screen {
    @media screen and (min-width: 701px) {
      display: none;
    }
  }
  

  .pros-container {
    @media screen and (min-width: 700px) {
      width: 70%;
    }
  }

  .text-white-body{
    color: #0881a3 ;
    font-weight: bold;
  }

.text-sky{
  color: #73aed9;
}

.btn-cta .arrows-btn {
  transition: transform 0.3s ease-in-out; /* Establece la transición para ambos estados */
}

.btn-cta:hover .arrows-btn {
  transform: translateX(10px);
}

.btn-cta .arrows-btn {
  transform: translateX(0); /* Vuelve a la posición original en el estado normal */
}

.w-45 {
  width: 45%;
}


.bajada-banner{
  @media screen and (max-width: 700px) {
    font-size: smaller !important;
  }
}

.befits-items-mobile{
  @media screen and (max-width: 700px) {
    width: 90vw;
    padding-left: 0;
    padding-right: 0;
  }
}

.padding-mobile{
  @media screen and (max-width: 700px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.padding-mockup-mobile{
  padding: 5vh 2vw 3vw 2vw !important;
}