.scroller {
  width: 94vw;
  background-color: white;
  border-radius: 0.5rem;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  justify-content: space-around;
}



/* general styles */

:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-primary-100: hsl(205, 15%, 58%);
  --clr-primary-400: hsl(215, 25%, 27%);
  --clr-primary-800: hsl(217, 33%, 17%);
  --clr-primary-900: hsl(218, 33%, 9%);
}

html {
  color-scheme: dark;
}

body {
  display: grid;
  min-block-size: 100vh;
  place-content: center;
  font-family: system-ui;
  font-size: 1.125rem;
  background-color: var(--clr-primary-800);
}

.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

/* Añade estos estilos al final de tu archivo clientsStyles.css */

.scroller {
  position: relative;
  overflow: hidden;
  width: 94vw;
  background-color: white;
  border-radius: 0.5rem;
}

.scroller::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent; /* Color gris o el color de tu elección */
  opacity: 0.7; /* Ajusta la opacidad según tus necesidades */
  pointer-events: none; /* Permite interactuar con los elementos subyacentes */
}

.scroller img {
  display: block;
  max-width: 100%;
  height: auto;
  filter: grayscale(100%);
  transition: filter 0.3s ease; /* Agrega una transición suave */
}

/* Elimina la sección que contiene :hover styles */
